// color palette
$kPurple: #a77bca;
$kPurpleOpacity35: rgba(167, 123, 202, 0.35);
$kLightPurple: #d7c6e6;
$kLightPurpleOpacity35: rgba(215, 198, 230, 0.35);
$kDarkPurple: #470a68;
$kDarkBlue: #003087;
$kDarkBlueHover: #00205c;
$kLightLime: #e9ec6b;
$kTangerine: #fbaf34;
$kActiveGrey: #c9c8c8;
$kDarkGrey: #9b9b9b;